<body>
  <div class="superior">
    <div class="titulo">
      <br>
      <br>
      <h1>
        Dúvidas, reclamações, informações ou sugestões
      </h1>
    </div>
  </div>
  <div class="conteudo">
    <div class="form">
      <h2>Contato</h2>
      <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name">Nome:</label>
          <input formControlName="name" type="text" id="name" class="form-control" placeholder="Nome Completo">
          <div
            *ngIf="contatoForm.get('name')?.invalid && (contatoForm.get('name')?.dirty || contatoForm.get('name')?.touched)"
            class="text-danger">
            Nome é obrigatório e deve conter apenas letras.
          </div>
        </div>
        <div class="mb-3">
          <label for="email">E-mail:</label>
          <input formControlName="email" type="email" id="email" class="form-control" placeholder="exemplo@e-mail.com">
          <div
            *ngIf="contatoForm.get('email')?.invalid && (contatoForm.get('email')?.dirty || contatoForm.get('email')?.touched)"
            class="text-danger">
            E-mail inválido.
          </div>
        </div>
        <div class="mb-3">
          <label for="telefone">Telefone:</label>
          <input formControlName="telefone" type="tel" id="telefone" class="form-control" placeholder="(DD) XXXX-XXXX">
          <div
            *ngIf="contatoForm.get('telefone')?.invalid && (contatoForm.get('telefone')?.dirty || contatoForm.get('telefone')?.touched)"
            class="text-danger">
            Telefone é inválido. Formato esperado: (DD) XXXX-XXXX ou (DD) XXXXX-XXXX
          </div>
        </div>
        <div class="mb-3">
          <label for="tipo">Tipo:</label>
          <select formControlName="tipo" id="tipo" class="form-control">
            <option value="1">Colaborar/Empresa</option>
            <option value="2">Pessoa Física</option>
            <option value="3">Outros</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="mensagem">Mensagem (até 300 caracteres):</label>
          <textarea formControlName="mensagem" id="mensagem" class="form-control" maxlength="300"
            placeholder="Deixe sua mensagem."></textarea>
          <div
            *ngIf="contatoForm.get('mensagem')?.invalid && (contatoForm.get('mensagem')?.dirty || contatoForm.get('mensagem')?.touched)"
            class="text-danger">
            Mensagem é obrigatória.
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg" [disabled]="contatoForm.invalid">Enviar</button>
      </form>
    </div>
  </div>

  <!-- Tabela de contatos -->
  <div class="container mt-4">
    <table class="table table-striped" id="table-contato">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Mensagem</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contato of contatos">
          <td>{{ contato.name }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ contato.telefone }}</td>
          <td>{{ contato.mensagem }}</td>
          <td>
            <button class="btn btn-success" (click)="openEditModal(contato)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal para editar contato -->
  <div class="modal fade" #modalEditarContato tabindex="-1" aria-labelledby="modalEditarContatoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarContatoLabel">Alterar contato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm">
            <div class="mb-3">
              <label for="modal-name" class="col-form-label">Nome:</label>
              <input formControlName="name" type="text" class="form-control" id="modal-name">
              <div
                *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)"
                class="text-danger">
                Nome é obrigatório e deve conter apenas letras.
              </div>
            </div>
            <div class="mb-3">
              <label for="modal-email" class="col-form-label">Email:</label>
              <input formControlName="email" type="text" class="form-control" id="modal-email">
              <div
                *ngIf="editForm.get('email')?.invalid && (editForm.get('email')?.dirty || editForm.get('email')?.touched)"
                class="text-danger">
                E-mail inválido.
              </div>
            </div>
            <div class="mb-3">
              <label for="modal-telefone" class="col-form-label">Telefone:</label>
              <input formControlName="telefone" type="text" class="form-control" id="modal-telefone">
              <div
                *ngIf="editForm.get('telefone')?.invalid && (editForm.get('telefone')?.dirty || editForm.get('telefone')?.touched)"
                class="text-danger">
                Telefone é inválido. Formato esperado: (DD) XXXX-XXXX ou (DD) XXXXX-XXXX
              </div>
            </div>
            <div class="mb-3">
              <label for="modal-mensagem" class="col-form-label">Mensagem:</label>
              <textarea formControlName="mensagem" class="form-control" id="modal-mensagem"></textarea>
              <div
                *ngIf="editForm.get('mensagem')?.invalid && (editForm.get('mensagem')?.dirty || editForm.get('mensagem')?.touched)"
                class="text-danger">
                Mensagem é obrigatória.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="onEditSubmit()">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>
</body>