<body>
    <br>
    <br>
    <div class="titulo">
        <h1>O que é e como funciona?</h1>
    </div>
    <br>
    <div class="texto">
        <h2>
            O EcoVoucher irá transformar a maneira de gerar
            valor a população através da reciclagem, seu
            funcionamento é simples como demonstrado abaixo:
            Assista o video sobre nossa empresa!!!
            
        </h2>
    </div>
    <br>
    <div class="conteudo">
        <div class="conteudo-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uur_Qz6eobs?si=dT7FdrYkXclK7Qy9"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</body>