<header>
        <img src="assets/IMAGEMhome/eco-novo.jpeg" alt="logotipo da empresa" id="marca" routerLink="/home">
        <div class="sup">
            <div class="superior">
            <a routerLink="/pontuacao" target="_self" rel="next" class="link" accesskey="1" aria-label="1.Sua pegada/seus pontos">1.Pontuação <i class="fas fa-star"></i></a>
            <a routerLink="/legislacao" target="_self" rel="next" class="link" accesskey="2" aria-label="2.Legislaçao">2.Legislação<i class="fas fa-balance-scale"></i></a>
            <a routerLink="/contato" target="_self" rel="next" class="link" accesskey="3" aria-label="3.Contato">3.<i class="fas fa-envelope"></i></a>
            <a routerLink="/login" class="link" accesskey="4" aria-label="4.Login">4.Login<i class="fas fa-sign-in-alt"></i></a>
            </div>
        </div>
        <div class="redesocial" >
            <a href="https://youtu.be/uur_Qz6eobs" target="_blank"><img src="assets/img/logo-youtube.png" alt="YouTube" width="10%"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img src="assets/img/logo-linkedin.png" alt="LinkedIn" width="10%"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/logo-insta.png" alt="Instagram" width="10%"></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="assets/img/logo-face.png" alt="Facebook" width="10%"></a>
            <a href="https://www.whatsapp.com/" target="_blank"><img src="assets/img/logo-zap.png" alt="WhatsApp" width="10%"></a>
        </div>
</header>