<body>
    <br>
    <br>
    <div class="titulo">
        <h1>
            Legislação Ambiental Vigente
        </h1>
    </div>
    <br>
    <hr>
    <br>

    <div class="container">
        <h2>As leis ambientais no Brasil foram criadas com a intenção de proteger o meio ambiente e reduzir as consequências de ações devastadoras.</h2>

        <div class="box">
            <img src="./assets/images/arv_1.png" alt="Imagem 1">
            <h5>Lei 9795/99 – POLÍTICA NACIONAL DE EDUCAÇÃO AMBIENTAL</h5>
            <br>
            <p>Dispõe sobre a educação ambiental, institui a Política Nacional de Educação Ambiental e dá outras providências.</p>
            <a href="https://www.planalto.gov.br/ccivil_03/leis/l9795.htm#:~:text=Art.,de%20vida%20e%20sua%20sustentabilidade." target="_blank" class="btn">CONSULTE AQUI</a>
        </div>
        <div class="box">
            <img src="./assets/images/arv_2.png" alt="Imagem 2">
            <h5>LEI 6938/81 - POLÍTICA NACIONAL DO MEIO AMBIENTE</h5>
            <br>
            <p>Traz consigo diretrizes e instrumentos para preservação, melhoria e recuperação da qualidade ambiental.</p>
            <a href="https://www.planalto.gov.br/ccivil_03/leis/l6938.htm" target="_blank" class="btn">CONSULTE AQUI</a>
        </div>
        <div class="box">
            <img src="./assets/images/arv_3.png" alt="Imagem 3">
            <h5>LEI 9605/98 - LEI DOS CRIMES AMBIENTAIS</h5>
            <br>
            <p>Para aplicar sanções penais e administrativas àqueles que praticam conduta ou atividades que lesem o meio ambiente.</p>
            <a href="https://www.planalto.gov.br/ccivil_03/leis/l9605.htm#:~:text=Disp%C3%B5e%20sobre%20as%20san%C3%A7%C3%B5es%20penais,ambiente%2C%20e%20d%C3%A1%20outras%20provid%C3%AAncias." target="_blank" class="btn">CONSULTE AQUI</a>
        </div>
        <div class="box">
            <img src="./assets/images/arv_4.png" alt="Imagem 4">
            <h5>LEI 12305/2010 - POLÍTICA NACIONAL DE RESÍDUOS SÓLIDOS</h5>
            <br>
            <p>Lei que estabelece instrumentos e diretrizes para os setores públicos e as empresas lidarem com os resíduos gerados.</p>
            <a href="https://www.planalto.gov.br/ccivil_03/_ato2007-2010/2010/lei/l12305.htm" target="_blank" class="btn">CONSULTE AQUI</a>
        </div>
        <div class="box">
            <img src="./assets/images/arv_5.png" alt="Imagem 5">
            <h5>LEI 9433/97 - LEI DE RECURSOS HÍDRICOS</h5>
            <br>
            <p>Institui a Política Nacional de Recursos Hídricos e cria o Sistema Nacional de Recursos Hídricos, e dá outras providências.</p>
            <a href="https://www.planalto.gov.br/ccivil_03/leis/l9433.htm" target="_blank" class="btn">CONSULTE AQUI</a>
        </div>

        <div class="box">
            <img src="./assets/images/arv_6.png" alt="Imagem 6">
            <h5>LEI 7802/89 - LEI DOS AGROTÓXICOS</h5>
            <br>
            <p>Legislar sobre a produção, registro, exportação, importação, transporte, e controle tecnológico e toxicológico dos agrotóxicos</p>
            <a href="https://www.planalto.gov.br/ccivil_03/leis/l7802.htm" target="_blank" class="btn">CONSULTE AQUI</a>
        </div>
    </div>
    <br>
    <br>
    </body>