<body>
<main>
    <br>
    <h1>
        Pontos de Coleta
    </h1>

    <hr>
    <br>
    <div class="conteudo">
        <div class="imagem">
            <img src="/assets/images/locais.png" alt="" width="100%">
        </div>
        <div class="texto">
            <h2>
                Os Pontos de coleta estão espalhados por vários lugares da cidade, faça uma pesquisa, veja o ponto mais próximo de seu endereço e nos ajude a cuidar do nosso Planeta.
            </h2>
        </div>
    </div>
</main>
</body>
