<body>
    <main>
        <div class="principal">
            <a routerLink="/ecoVoucher-sobre" target="_self" rel="next" title="6.CONHEÇA A NOSSA EMPRESA!!" accesskey="6" aria-label="6.CONHEÇA A NOSSA EMPRESA!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/eco-novo.jpeg" alt="ecoVocher"></button></a>

            <a href="indexLocais.html" target="_self" rel="next" title="7.SAIBA OS PONTOS DE COLETA!!"accesskey="7" aria-label="7.SAIBA OS PONTOS DE COLETA!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/LOC.png" alt="SAIBA OS PONTOS DE COLETA!!"></button></a>

            <a routerLink="/pegada/:id" target="_self" rel="next" title="8.CALCULE SUA PEGADA ECOLOGICA!!!"accesskey="8" aria-label="8.CALCULE SUA PEGADA ECOLOGICA!!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/PEGADA ECOLOGICA.jpg" alt="CALCULE SUA PEGADA ECOLOGICA!!!"></button></a><!--(#)colocar o nome da pagina-->

            <a routerLink="/ods" target="_self" rel="next" title="9.FAZEMOS PARTE DA ODS!!! VEJA!!"accesskey="9" aria-label="9.FAZEMOS PARTE DA ODS!!! VEJA!!!!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/ODS.jpg" alt="FAZEMOS PARTE DA ODS!!! VEJA!!"></button></a><!--(#)colocar o nome da pagina-->
        </div>
        <h1>VENHA FAZER PARTE DESTA IDEIA!!!</h1>
    </main>
</body>
