<body>

    <header>
            <img src="assets/IMAGEMhome/eco-novo.jpeg" alt="logotipo" id="marca">
            <div class="sup">
                <div class="superior">
                <a href="indexSobre.html" target="_self" rel="next" class="link">Sobre</a><!--href=# ---(#)substituir pelo no href=nome da pagina-->
                <a href="indexLegislacao.html" target="_self" rel="next" class="link">Legislação</a><!--href=# ---(#)substituir pelo no href=nome da pagina-->
                <a href="indexContato.html" target="_self" rel="next" class="link">Contato</a><!--href=# ---(#)substituir pelo no href=nome da pagina-->
                <a routerLink="/login" class="link">Login</a>
                <a routerLink="/cadastro" class="link">Cadastro</a>
                </div>
            </div>
            <div class="redesocial" >
                <a href="https://youtu.be/uur_Qz6eobs" target="_blank"><img src="assets/img/logo-youtube.png" alt="YouTube" width="10%"></a>
                <a href="https://www.linkedin.com/" target="_blank"><img src="assets/img/logo-linkedin.png" alt="LinkedIn" width="10%"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/logo-insta.png" alt="Instagram" width="10%"></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="assets/img/logo-face.png" alt="Facebook" width="10%"></a>
                <a href="https://www.whatsapp.com/" target="_blank"><img src="assets/img/logo-zap.png" alt="WhatsApp" width="10%"></a>
            </div>
    </header>
    <main>
        <div class="principal">
            <a href="indexEcoVoucher.html" target="_self" rel="next" title="CONHEÇA A NOSSA EMPRESA!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/eco-novo.jpeg" alt="eco"></button></a><!-- href=# ---(#)substituir pelo nome da pagina-->

            <a href="indexLocais.html" target="_self" rel="next" title="SAIBA OS PONTOS DE COLETA!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/LOC.png" alt="localizacao"></button></a><!--(#)colocar o nome da pagina-->

            <a href="indexPegada.html" target="_self" rel="next" title="CALCULE SUA PEGADA ECOLOGICA!!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/PEGADA ECOLOGICA.jpg" alt="pegada"></button></a><!--(#)colocar o nome da pagina-->

            <a href="indexOds.html" target="_blank" rel="self" title="FAZEMOS PARTE DA ODS!!! VEJA!!"><button class="botaoredondo"><img src="assets/IMAGEMhome/ODS.jpg" alt="ods"></button></a><!--(#)colocar o nome da pagina-->
        </div>
        <h1>VENHA FAZER PARTE DESTA IDEIA!!!</h1>
    </main>
        <footer>
            <a href="#" target="_blank" rel="next">Parceiros</a>
            <a href="#" target="_blank" rel="next">Seja um parceiro</a>
            <a href="#" target="_blank" rel="next">Valores</a>
            <a href="#" target="_blank" rel="next">SAC</a>
            <a href="#" target="_blank" rel="next">FAQ</a>
            <a href="#" target="_blank" rel="next">Reclamações</a>
        </footer>
</body>
